main {
  display: grid;
  grid-gap: var(--gap);
  padding: 10px 40px;
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.left_btn_section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.back_btn {
  border: 1px solid var(--border_color);
  color: var(--light_color_text);
  background-color: var(--light_color);
}

.back_btn, .red_btn {
  width: 10vw;
  font: normal 300 1.1vw "Montserrat";
  padding: 10px;
  border-radius: var(--border_radius);
  transition: 0.5s;
}
.red_btn {
  color: var(--light_color);
  background-color: var(--red_btn_color);
  border: none;
}

.back_btn:hover {
  background: #edebeb;
}

.red_btn:hover {
  background: var(--dark_red_btn_color);
}

.task_wrapper {
  border: 1px solid var(--border_color);
  color: var(--light_color_text);
  background-color: var(--light_color);
  padding: 2vw 1.5vw 1.5vw;
  border-radius: var(--border_radius);
  display: grid;
  gap: 3vw;
}

.prop_box {
  display: grid;
  gap: 0.2vw;
}

.prop_name {
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
  font: normal 500 1.1vw "Montserrat";
}

.prop_val {
  font: normal 300 1.1vw "Montserrat";
  color: var(--dark_color_text);
}

@media only screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
    padding: 10px 20px;
  }

  .back_btn, .red_btn {
    width: 14vw;
    font-size: 1.9vw;
  }

  .prop_name {
    font-size: 1.9vw;
  }

  .prop_val {
    font-size: 2.3vw;
  }
}
